/* RESET STYLES */
* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	&:focus,
	&:active {
		outline: none;
	}
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

a {
	text-decoration: none;
	color: inherit;
	&:focus,
	&:active {
		outline: none;
	}
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
}

input,
textarea,
button {
	font-family: inherit;
	background-color: transparent;
}

input {
	::-ms-clear {
		display: none;
	}
}

button,
input[type="submit"],
label {
	cursor: pointer;
}

input,
button {
	&:focus,
	&:active {
		outline: none;
	}
}
