/* VARS */

$minWidth: 375; // минимальная ширина страницы
$maxWidth: 1280; // ширина полотна (макета)
$maxWidthContainer: 1280;
$pc: $maxWidthContainer + px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
$mainPadding: 112;
$otherPadding: 32;
$generalPadding: $mainPadding - $otherPadding;
$mobilePadding: $otherPadding / 2;

:root {
	--header-height: 64px;

	--hover-opacity: 0.7;

	--radius: 8px;

	--font-main: "Roboto";
	--font-accent: "";

	--main-color: #21242e;
	--accent-color: #d0bc7a;
	--sale-color: #EB5757;
	--border: 1px solid #ebebeb;
}

.dark {
	--page-bg: #252526;
	--text-color: #ffffff;
}
