.burger-checkbox {
	position: absolute;
	visibility: hidden;
	&:checked {
		+ .burger-btn {
			&::before,
			&::after {
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 7px;
				transform: rotate(45deg);
			}
			&::after {
				bottom: 7px;
				transform: rotate(-45deg);
			}
		}
		~ .nav {
			transform: translateX(0);
		}
	}
}
.burger-btn {
	display: block;
	position: absolute;
	@include adaptive-value("right", 38, 22, 1);
	top: 24px;
	z-index: 999;
	width: 20px;
	height: 16px;
	&::before,
	&::after {
		@include pseudo;
		left: 0;
		width: 100%;
		height: 0.1rem;
		background: var(--main-color);
		transition: all 0.3s ease 0s;
	}
	&::before {
		top: 4px;
	}
	&::after {
		bottom: 4px;
	}
	@media (any-hover: hover) {
		&:hover {
			&::before,
			&::after {
				background: var(--accent-color);
			}
		}
	}
}
