.info {
	> div {
		border-top: var(--border);
		@include adaptive-value("padding-top", $generalPadding, $otherPadding, 1);
	}
	&__title,
	> div {
		@include adaptive-value("padding-left", 95, $mobilePadding, 1);
		@include adaptive-value(
			"padding-bottom",
			$generalPadding,
			$otherPadding,
			1
		);
		padding-right: rem($mobilePadding);
	}
	&__title {
		@include adaptive-value("padding-top", $mainPadding, $otherPadding, 1);
	}
	h4 {
		@include adaptive-value("margin-bottom", 48, $otherPadding, 1);
	}
	@include mobile() {
		&__btn{
			padding-bottom: 0 !important;
		}
	}
}

.form {
	form {
		max-width: 544px;
	}
	&__item {
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 24, $mobilePadding, 1);
		}
		span {
			display: block;
			@include adaptive-value("margin-bottom", 12, 8, 1);
			opacity: 0.4;
		}
		input {
			width: 100%;
			background-color: #f7f7f7;
			height: 56px;
			font-size: 16px;
			border-radius: calc(var(--radius) / 2);
			padding: 0 rem($mobilePadding);
			border: 1px solid transparent;
			&::placeholder {
				opacity: 0.4;
				transition: all 0.3s ease 0s;
			}
			@media (any-hover: hover) {
				&:hover {
					&::placeholder {
						opacity: 0.8;
					}
				}
			}
			&:focus {
				transition: all 0.3s ease 0s;
				border-color: #000000;
			}
		}
	}
}
