.modes {
	display: flex;
	align-items: center;
	column-gap: 19px;
	color: var(--accent-color);
	padding-right: 70px;
	a {
		display: flex;
		align-items: center;
		column-gap: 10px;
		font-size: 14px;
		transition: all 0.3s ease 0s;
		span {
			margin-right: 20px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--main-color);
			}
		}
	}
	@include mobile() {
		> a {
			span {
				display: none;
			}
		}
	}
}

.cart {
	&__icon {
		position: relative;
		span {
			position: absolute;
			left: 11px;
			top: -8px;
			background-color: var(--main-color);
			color: #ffffff;
			font-weight: 500;
			padding: 0 2px;
			font-size: 8px;
			line-height: 8px;
			height: 14px;
			min-width: 13px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100px;
		}
	}
}
