.nav {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	background-color: #ffffff;
	transition: all 0.7s ease 0s;
	transform: translateX(-100%);

	&__wrapper {
		@include adaptive-value(
			"padding-right",
			$generalPadding,
			$mobilePadding,
			1
		);
		@include adaptive-value("padding-left", $generalPadding, $mobilePadding, 1);
	}
	&__list {
		h4 {
			@include adaptive-value("margin-bottom", 24, $mobilePadding, 1);
		}
		li {
			line-height: 24px;
			&:not(:last-child) {
				@include adaptive-value("margin-bottom", $mobilePadding, 8, 1);
			}
		}
		a {
			transition: all 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--accent-color);
				}
			}
		}
	}
	@include mf-mobile() {
		.container {
			height: 100%;
		}
		&__wrapper {
			display: flex;
			height: 100%;
			align-items: center;
		}
		&__body {
			display: flex;
			align-items: flex-start;
			width: 100%;
		}
		&__list {
			flex: 1 1 50%;
		}
	}
	@include mobile() {
		padding-top: calc(var(--header-height) + 32px);
		&__list {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}
