.products {
	&__body {
		@include adaptive-value("padding-top", $mainPadding, 65, 1);
		@include adaptive-value("padding-left", $generalPadding, $mobilePadding, 1);
		@include adaptive-value("padding-bottom", $mainPadding, $otherPadding, 1);
		position: relative;
	}
	&__title {
		@include adaptive-value("margin-bottom", 48, 32, 1);
		span {
			color: var(--accent-color);
		}
	}
	&__catalog-btn {
		@include mf-mobile() {
			position: absolute;
			@include adaptive-value("top", 128, 65, 1);
			@include adaptive-value("right", $generalPadding, 0, 1);
		}
		@include mobile() {
			margin-top: $otherPadding + px;
		}
	}
}

.product {
	background-color: #f7f7f7;
	border-radius: var(--radius);
	border: 1px solid transparent;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			border-color: rgba(33, 36, 46, 0.4);
		}
	}

	&__promo {
		@include adaptive-value(
			"padding-top",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		@include adaptive-value(
			"padding-bottom",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		@include adaptive-value(
			"padding-left",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		@include adaptive-value(
			"padding-right",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		height: 256px;
		position: relative;
		border-bottom: 12px solid;
		&_style1 {
			border-color: #c08d74;
		}
		&_style2 {
			border-color: #ea976f;
		}
		&_style3 {
			border-color: #c07474;
		}
	}
	&__top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		z-index: 10;
	}
	&__favorite-btn {
		font-size: 17px;
		color: #e4e4e4;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--main-color);
				opacity: 0.4;
			}
		}
		&.active {
			color: var(--accent-color);
		}
	}
	&__label {
		position: absolute;
		left: 0;
		span {
			font-size: 14px;
			height: 28px;
			padding: 0 12px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: var(--sale-color);
			border-radius: 100px;
			color: #ffffff;
			line-height: 18px;
		}
		&_long {
			@media (min-width: $mobileSmall) and (max-width: $pc) {
				span {
					font-size: 10px;
				}
			}
		}
	}
	&__image {
		position: absolute;
		bottom: 0;
		max-width: 206px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 16px;
		@include adaptive-value(
			"padding-top",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		@include adaptive-value(
			"padding-bottom",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		@include adaptive-value(
			"padding-left",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
		@include adaptive-value(
			"padding-right",
			$otherPadding - 8,
			$mobilePadding,
			1
		);
	}
	&__description {
		display: flex;
		flex-direction: column;
		gap: 8px;
		p,
		span {
			font-size: 14px;
			line-height: 18px;
		}
	}
	&__prices {
		display: flex;
		gap: 14px;
		font-family: "Times New Roman", serif;
		font-weight: 700;
		font-style: italic;
		font-size: 18px;
		line-height: 18px;
	}
}

.price-old {
	opacity: 0.4;
	text-decoration: line-through;
}
